@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-brand {
  padding: 0;
  width: 50px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 100px;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 60px;
  font-weight: 500;
  text-shadow: 1px 1px 15px #000;
  padding-bottom: 1rem;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .btn-primary:hover {
  background-color: cyan;
  border: none;
  color: #000;
  font-weight: 500;
  font: bold;
} */

.jombotron {
  padding: 1rem;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin {
  color: #3b5998;
}

.fa-instagram {
  color: #b00;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-twitter:hover {
  color: #d5d5d5;
}

.footer {
  background-color: #333;
  color: #ddd;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.footer img {
  width: 12%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }

}

@media (max-width: 768px) {

  .carousel-caption {
    top: 45%;
  }

  .carousel-caption h1 {
    font-size: 350%
  }

  .carousel-caption h3 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: .2rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;

  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 55%;
  }

  .carousel-caption h1 {
    font-size: 150%;
    font: bold;
  }

  .carousel-caption h3 {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: .2rem;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;

  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('./img/slide1.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/